option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "config.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    DEBUG: "False"
    SECRET_KEY: "django-insecure-prod-key-change-this-12345"
    ALLOWED_HOSTS: "localhost,127.0.0.1,.elasticbeanstalk.com,.compute.amazonaws.com"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "config.wsgi:application"
